<ul>
    <% @items.each do |item| %>
    <div class = "col-33">
      <%= link_to item.title, item_path(item) %>
    </div>
    <% end %>
</ul>
<% if admin? %>
  <%= link_to 'Create Item Listing', new_item_path, class: "button" %>
<% end %>
<%= link_to 'Back', root_path, class: "link back" %>