<%= link_to 'Back', root_path, class: "link back" %>
<% if admin? %>
  <%= link_to 'Create Item Listing', new_item_path, class: "button" %>
<% end %>

<button class="hi">yo</button>
<h3 id="items-list-btn">View Items</h3>
<ul id="items-list">
   
</ul>
