
.button {
    font-family: 'Raleway', sans-serif;
    background-color: green;
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
}

.link{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(196, 200, 196);
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 4px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.link:hover{
    background-color: snow;
}