* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
a {
    text-decoration: none;
    color: silver;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
a:hover {
    color: white;
}
.alert {
    padding: 5px;
}
body {
    background-image: url('furniture-background.jpg');
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}
.button {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    background-color: green;
    color: white;
    border-radius: 6px;
    padding: 4px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #4CAF50; /* Green */
}
.wrapper {
  border-radius: 5px;
  background: rgba(9, 21, 44, 0.644);
  width: 66%;
  margin: auto;
  margin-top: 30px;
  color: white;
}
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }  

.col-33{
    float: left;
    width: 33%;
    margin: 6px 0px;
    padding-right: 50px;
    text-align: center;
}
.feature {
    width: 50%;
    height: 30%;
    margin-left: 300px;
}
.feature-title{
    margin-left: 300px;

}

.feature-div{
    width: 100%;
    background-color: rgba(20, 19, 32, 0.664);
    padding: 30px;
    padding-top: 2px;
}

.top-div{
    padding: 20px;
   
}

.bottom-div{
    padding: 20px;
    padding-top: 1px;
    background: rgba(161, 173, 212, 0.431);
}

.home-top-div{
    padding: 20px;
    padding-bottom: 0px;
}
.username {
    margin-bottom: 0px;
    margin-top: 0px;
}
.image{
    position: relative;
    float: left;
    width:  100%;
    height: auto;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    opacity: 0.7;
    z-index: 0;
}
.item-index img{
    max-height: 255px;
    width: 350px;
    overflow: none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    z-index: 1;
}
.item-index:hover img{
    opacity: 1;
}
.edit {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(235, 173, 29);
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 4px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
h1 {
    margin: 0;
    font-family: 'Thasadith', sans-serif;
    padding-bottom: 6px;
}
.profile {
    float: right;
}
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.link{
    font-family: 'Raleway', sans-serif;
    background-color: rgb(196, 200, 196);
    text-decoration: none;
    color: black;
    border-radius: 6px;
    padding: 4px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.delete {
    background-color: red;
    color: white;
}
.link:hover{
    background-color: snow;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
  }
.navbar li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
 }

 .overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.3); /*can be anything, of course*/
}
  
.field_with_errors>.input {

    border-color: red;
  }

  #items-list-btn {
      cursor: pointer;
  }

  #item-show{
      align-content: center;
      padding-left: 60px;
  }

  .show-image{
      height: 720px;
      width: 1080px;
  }

@media only screen and (max-width: 1108px) {
    .wrapper {
        width: 90%;
      }
   
  }
  @media only screen and (max-width: 750px) {
    .wrapper {
        width: 90%;
      }
  }