<div class="home-top-div">
    <h2 class="username"><%= @user.name %></h2>
</div>
<div class="bottom-div">
        <p class="username"><%= @user.username%></p>
        <p>Balance: <%= @user.balance %> </p> 
</div>
     


